<html>
  <head>
    <title>Show Hole ~ show_name</title>
  </head>  
  <body class="body">
    <h1 class="show_name"> <%=@show_name%> </h1>
   <img src="<%=@show_poster%>" style="width:400px">
    <h3 class= "number_rating"> This show has accumulated a rating of <%=@number_rating%> </h3>
      <br> </br>
    <h3 class="show_overview"><%=@show_overview%></h3>
      <br> </br>
      <br> </br>
    <br> </br>
    
  </body>
</html>